---
layout: default
---
<p>Site Last Updated: {{ site.time | date: "%m/%d/%Y %H:%M" }}</p>
<br>
<h1>Latest:</h1>
<ul>
{% for post in site.posts limit:1 %}
  <a href="{{ post.url}}">
    <h2>{{ post.title }}</h2>
    <p>{{ post.date | date: "%m/%d/%Y %H:%M"}}</p>
    <p>{{ page.excerpt | truncate_words: 5 }}</p>
  </a>
{% endfor %}
</ul>
<hr>
<hr>
<hr>
<h1>Earlier:</h1>
<ul>
{% for post in site.posts offset:1 limit:5 %}
  <a href="{{ post.url }}">
    <h2>{{ post.title }}</h2>
    <p>{{ post.date | date: "%m/%d/%Y %H:%M"}}</p>
    <p>{{ page.excerpt | truncate_words: 5 }}</p>
  </a>
  <hr>
{% endfor %}
</ul>
