.author-bio	{
	width: 50%;
	float: right;
	border-radius: 36px;
	border-width: 7px;
	border-style: groove;
	border-color: #00bbc4;
	padding-left: 4px;
	padding-bottom: 4px;
	margin-top: 5%;
	background-color: rgba(211, 135, 0, 0.8);
}

.author-bio	img	{
	float: right;
	max-width: 128px;
	max-height: 128px;
}


.author-bio .author-name	{
	padding-left: 2px;
}

.author-bio .bio			{
	padding-left: 4px;
	border-radius: 36px;
	border-width: 4px;
	border-style: groove;
	border-color: #00bbc4;
}
.author-bio	.social-link	{
	padding-left: 8px;
	padding-bottom: 4px;
}
