.author-bio	{
	width: 50%;
	float: right;
	border-radius: 36px;
	border-width: 7px;
	border-style: groove;
	border-color: #00bbc4;
	padding-left: 4px;
	padding-bottom: 4px;
	margin-top: 5%;
	background-color: rgba(0, 187, 196, 0.4);
}

.author-bio	img	{
	float: right;
	max-width: 128px;
	max-height: 128px;
}


.author-bio .author-name	{
	padding-top: 8px;
	padding-left: 8px;
}

.author-bio .bio			{
	margin-right: 24px;
	padding-right: 8px;
	padding-left: 8px;
	padding-bottom: 4px;
	border-radius: 12px;
	border-width: 4px;
	border-style: groove;
	border-color: #00bbc4;
	background-color: rgba(0, 187, 196, 0.4);
}
.author-bio	.social-link	{
	padding-left: 12px;
	padding-bottom: 4px;
	color: #d38700;
	text-decoration-color: #d38700;
}