---
layout: default
---
<small>{{ page.date | date: "%-d %B %Y" }}</small>
<h1>{{ page.title }}</h1>

<p class="view">by {{ page.author.name | default: site.author }}</p>

{{content}}



<hr>

{% assign authorData = site.data.authors[site.author] %}

<div class="author-bio">
    <img src="/assets/img/{{ authorData.image }}" alt="{{ page.author.name | default: site.author }}'s profile picture." />
    <div class="author-name">{{ page.author.name | default: site.author }}</div>
    <p class="bio">{{ authorData.bio }}</p>
    {% for social in authorData.socials %}
    <a href="{{ social.url }}" class="social-link">{{ social.type }}</a>
    <br>
    {% endfor %}
</div>
<h5>Site Last Updated: {{ site.time | date: "%m/%d/%Y %H:%M" }}</h5>
