---
layout: default
---
<!-- <link rel="stylesheet" href="/authorblurb.css"> -->
<small>{{ page.date | date: "%-d %B %Y" }}</small>
<h1>{{ page.title }}</h1>

<p class="view">by {{ page.author | default: site.author }}</p>

{{content}}



<hr>

{% assign authorData = site.data.authors[site.author] %}

<div class="author-bio">
    <img src="/img/{{ authorData.image }}" alt="{{ page.author }}'s profile picture." />
    <div class="author-name">{{ site.author }}</div>
    <p class="bio">{{ authorData.bio }}</p>
    {% for social in authorData.socials %}
    <a href="{{ social.url }}" class="social-link {{ social.type }}-link">{{ social.type }}</a>
    {% endfor %}
</div>
